* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: sans-serif;
}

.wrapper {
    gap: 100px;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: grid;
    background: #000;
    place-items: center;
    padding: 2px;
    grid-template-rows: repeat(3, 75px);
    grid-template-columns: repeat(3, 75px);
}

.cell {
    width: 74px;
    height: 74px;
    /* color: #ccc; */
    font-size: 50px;
    cursor: pointer;
    background: #fff;
    border: 1px solid;
}

.history {
    gap: 20px;
    display: grid;
    place-items: center;
}

.history-btns {
    gap: 5px;
    display: grid;
    place-items: center;
}

.history-btns button {
    font-size: 25px;
}

.game-start {
    height: 50px;
    padding: 0 10px;
    font-size: 40px;
    cursor: pointer;
    font-weight: 300;
    width: max-content;
    text-transform: capitalize;
}

.winner {
    font-weight: 300;
    font-size: 40px;
}